@use "../fonts" as *;
@use "../functions" as *;

.program {
  margin-top: vw-1600(140);

  @media (max-width: 768px) {
    margin-top: 72px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    @include h2-black;
    margin-bottom: vw-1600(42);
    color: var(--yellow);
    span {
      @include h2-semi;
      color: var(--txt);
    }

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: vw-1600(20);

    @media (max-width: 768px) {
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    background: var(--dark-3);
    border-radius: vw-1600(12);
    padding: vw-1600(36) vw-1600(48);
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &.headliner {
      box-shadow: 0px 0px 0 0 var(--yellow);
    }

    @media (max-width: 768px) {
      padding: 32px 24px;
      border-radius: 12px;
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
    }

    &:not(:has(.program__item-picture)) {
      align-items: center;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--gradient);
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }

    &:hover {
      color: var(--txt);

      &.headliner {
        box-shadow: vw-1600(10) vw-1600(12) 0 0 var(--yellow);
      }

      &:before {
        opacity: 1;
      }

      .program__item-time {
        color: var(--txt);
      }

      .program__item-headline {
        color: var(--txt);
      }
    }

    @media (max-width: 768px) {
      &.active {
        color: var(--txt);

        &:before {
          opacity: 1;
        }

        .program__item-time {
          color: var(--txt);
        }

        .program__item-headline {
          color: var(--txt);
        }
      }

      &.headliner:hover {
        box-shadow: 10px 12px 0 0 var(--yellow);
      }

      &.headliner.active {
        box-shadow: 10px 12px 0 0 var(--yellow);
      }
    }

    &-time {
      flex: 0 0 vw-1600(296);
      width: fit-content;

      @include h3;
      color: var(--yellow);
      transition: color 0.3s ease;

      @media (max-width: 768px) {
        flex: initial;
        width: 100%;
        text-align: left;
      }
    }

    &-caption {
      margin-left: vw-1600(122);
      flex: 1;
      @include body-4;
      color: var(--txt);
      position: relative;

      span {
        @include body-4-semibold;
      }

      @media (max-width: 768px) {
        margin-left: 0;
        width: 100%;
        text-align: left;
      }
    }

    &-speakers {
      @include body-5;
      color: var(--txt);
      opacity: 0.5;
      margin-top: vw-1600(12);

      @media (max-width: 768px) {
        margin-top: 12px;
      }
    }

    &-headline {
      @include h7;
      color: var(--violet);
      position: absolute;
      bottom: 0;
      left: 0;
      transition: color 0.3s ease;

      @media (max-width: 768px) {
        position: relative;
        margin-top: 24px;
      }
    }

    &-picture {
      flex: 0 0 vw-1600(367);
      width: vw-1600(367);
      height: vw-1600(322);
      margin-left: vw-1600(24);
      object-fit: cover;
      border-radius: vw-1600(10);

      @media (max-width: 768px) {
        flex: initial;
        width: 100%;
        height: 200px;
        margin-left: 0;
        border-radius: 10px;
        object-position: top;
      }
    }
  }
}
