@use "../fonts" as *;
@use "../functions" as *;

.tariffs {
  margin-top: vw-1600(140);

  @media (max-width: 768px) {
    margin-top: 72px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: vw-1600(42);

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 12px;
      margin-bottom: 24px;
    }
  }

  &__title {
    @include h2-black;
    color: var(--yellow);
  }

  &__text {
    @include body-2;
    color: var(--txt);
    max-width: vw-1600(636);

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: vw-1600(46) vw-1600(24);
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }

  &__item {
    width: vw-1600(416);
    height: vw-1600(825);
    position: relative;
    color: var(--bg);
    padding: vw-1600(80) vw-1600(30) vw-1600(31) vw-1600(24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      width: 335px;
      height: 621px;
      padding: 70px 28px 22px 28px;
      border-radius: 12px;
    }

    &-badge {
      position: absolute;
      top: vw-1600(-80);
      right: vw-1600(-80);
      width: vw-1600(250);
      height: vw-1600(250);

      @media (max-width: 768px) {
        width: 180px;
        height: 180px;
        top: -45px;
        right: -35px;
      }
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    &-title {
      @include h5;
      text-align: center;
      margin-bottom: vw-1600(70);

      @media (max-width: 768px) {
        margin-bottom: 60px;
      }
    }

    &-list {
      @include body-7;
      list-style: none;

      li {
        margin-bottom: vw-1600(12);
        display: flex;
        align-items: center;
        gap: vw-1600(8);
        filter: grayscale(100%);
        opacity: 0.4;

        @media (max-width: 768px) {
          margin-bottom: 6px;
          gap: 6px;
        }

        svg {
          flex-shrink: 0;
          width: vw-1600(32);
          height: vw-1600(32);

          @media (max-width: 768px) {
            width: 24px;
            height: 24px;
          }
        }

        &.active {
          filter: grayscale(0);
          opacity: 1;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-info {
      margin-top: vw-1600(12);
      margin-bottom: vw-1600(14);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: vw-1600(344);

      @media (max-width: 768px) {
        margin-top: 20px;
        margin-bottom: 10px;
        max-width: 100%;
      }
    }

    &-price {
      @include h7;
      color: var(--violet);
      display: flex;
      gap: vw-1600(8);
      align-items: center;

      @media (max-width: 768px) {
        gap: 8px;
      }

      span {
        @include body-7;
        color: var(--bg);
        opacity: 0.5;
        text-decoration: line-through;
      }
    }

    &-places {
      @include body-9;
      color: var(--txt);
      border-radius: vw-1600(32);
      padding: vw-1600(7) vw-1600(16) vw-1600(7) vw-1600(16);
      background: var(--bg);

      @media (max-width: 768px) {
        padding: 8px 10px 6px;
        border-radius: 32px;
      }
    }

    &-button {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
