@use "fonts" as *;
@use "functions" as *;
@use "buttons";
@use "blocks/hero";
@use "blocks/speakers";
@use "blocks/expectations";
@use "blocks/place";
@use "blocks/tariffs";
@use "blocks/program";
@use "blocks/who";
@use "blocks/gallery";
@use "blocks/partners";
@use "blocks/contacts";
@use "blocks/footer";

:root {
  --second-family: "Cygre Medium", sans-serif;
  --third-family: "Cygre ExtraBold", sans-serif;
  --font3: "Cygre Light", sans-serif;
  --font4: "Cygre Black", sans-serif;
  --font5: "Cygre", sans-serif;
  --font6: "Cygre SemiBold", sans-serif;

  --bg: #101010;
  --bg-2: #faf9f6;
  --txt: #ffffff;
  --dark-1: #121212;
  --dark-2: #171717;
  --dark-3: #202020;

  --gradient: linear-gradient(90deg, #6747e5 0%, #9e7dff 100%);
  --violet: #6747e5;
  --yellow: #f1f33f;
  --yellow-2: #ffff55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: var(--txt);
  font-family: var(--second-family);
  background-color: var(--bg);
}

.wrapper {
  max-width: vw-1600(1296);
  width: 100%;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: calc(100dvw - 40px);
  }
}

.mobile {
  display: none;
}

.header {
  position: relative;
  z-index: 2;
  max-width: vw-1600(1296);
  width: 100%;
  margin: 0 auto;
  margin-top: vw-1600(32);
  background: var(--bg-2);
  border-radius: vw-1600(12);
  padding: vw-1600(24) vw-1600(32);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: initial;
    margin: 0;
    border-radius: 12px;
    padding: 6px 12px;
    z-index: 1000;

    .burger {
      width: 36px;
      height: 36px;
      background: var(--violet);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__logo {
    display: flex;

    &-img {
      width: vw-1600(187);
      height: vw-1600(55);

      @media (max-width: 768px) {
        width: 96px;
        height: 28px;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: vw-1600(107);

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: vw-1600(54);
    list-style: none;
  }

  &__link {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: vw-1600(20);
    text-decoration: none;
    color: var(--bg);
    padding-bottom: vw-1600(3);
    transition: all 0.3s ease;
    border-bottom: vw-1600(2) solid transparent;

    &:hover {
      border-bottom: vw-1600(2) solid var(--yellow);
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: rgba(16, 16, 16, 0.4);
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  display: flex;
  justify-content: flex-end;

  &.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 1100;

    .mobile-menu__container {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__container {
    transition: all 0.3s ease;
    position: relative;
    width: 267px;
    height: 100dvh;
    background: var(--bg);
    padding: 70px 32px 52px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    opacity: 0;
    overflow: hidden;
  }

  &__close {
    position: absolute;
    top: 22px;
    right: 32px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: var(--violet);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      @include h6;
      width: fit-content;
      text-decoration: none;
      color: var(--txt);

      &:hover {
        color: var(--yellow);
      }
    }
  }

  &__info {
    &-text {
      @include body-7;
      color: var(--txt);
      margin-bottom: 12px;
    }

    a.mobile-menu__info-text {
      display: block;
      @include body-7;
      color: var(--txt);
      text-decoration: none;
      margin-bottom: 12px;
    }

    &-social {
      margin-top: 24px;
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      gap: 8px;

      &-link {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: var(--violet);
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
